<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page 1*3</h1>
    <h3><%= 1*3 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iste ducimus aperiam velit molestias, cum corporis amet est optio, incidunt eius minima voluptatem nihil totam officia perferendis? Neque, deserunt magni.
    </p>
<button>click here!</button>
</body>
</html>